version: '3'

services:
  nginx:
    build:
      context: docker/nginx
    logging:
      options:
        max-size: '10m'
        max-file: '3'
    volumes:
      - ./:/app
      - ./docker/nginx:/etc/nginx/conf.d
    labels:
      traefik.enable: 'true'
      traefik.frontend.rule: 'Host: ${DOMAIN}'
    networks:
      - web

  # node:
  #   build:
  #     context: docker/node
  #   working_dir: /home/node/app
  #   logging:
  #     options:
  #       max-size: '10m'
  #       max-file: '3'
  #   environment:
  #     HOST: 0.0.0.0
  #     PORT: 3000
  #   expose:
  #     - 3000
  #   volumes:
  #     - ./:/home/node/app
  #   networks:
  #     - web
  #   command: sh -c 'yarn && yarn dev'
  #   restart: ${RESTART}

networks:
  web:
    external: true
