version: '3'

services:
  nginx:
    build:
      context: docker/nginx
    logging:
      options:
        max-size: '10m'
        max-file: '3'
    volumes:
      - ./:/app
      - ./docker/nginx:/etc/nginx/conf.d
    labels:
      traefik.enable: 'true'
      traefik.frontend.rule: 'Host: ${DOMAIN}'
    networks:
      - web

networks:
  web:
    external: true
